body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #dedede;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ant-pagination-prev,
.ant-pagination-next {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 8px;
}

.ant-pagination-prev:hover,
.ant-pagination-next:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.ant-pagination-disabled {
  background-color: rgba(0, 0, 0, 0.06);
}
